<!-- <header style="background-color: #0b0e11; padding: 0px; display: flex; align-items: center; justify-content: space-between;">
  <div style="color: #fff; padding: 25px; padding-left: 100px; padding-right: 100px;">
    <h1 style="margin: 0;">ZAGA OPEN SOURCE</h1>
</div>
    <nav>
      <ul style="list-style: none; display: flex; gap: 50px; margin: 0; padding-right: 100px;">
        <li><a href="#" style="color: #fff; text-decoration: none;">Home</a></li>
        <li><a href="#" style="color: #fff; text-decoration: none;">Blog</a></li>
        <li><a href="#" style="color: #fff; text-decoration: none;">Documentation</a></li>
        <li><a routerLink="/videos" style="color: #fff; text-decoration: none;">Videos</a></li>

      </ul>
    </nav>
  </header> -->

  <header>
    <div>
        <h1>ZAGA OPEN SOURCE</h1>
    </div>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="/videos">Videos</a></li>
        </ul>
    </nav>
</header>