<section class="landing-section">
  <div>
  <div><h1><strong><b>Observe your business with</b></strong></h1>

   <br><br><br>
    <div class="box-container">
        <div class="box">Observability
          <a href="#observability"  class="read-more"  (click)="scrollToObservability()">Read More</a>
          <a href="#" class="github-logo">
          <!-- href="https://github.com/your-username/your-repository/blob/master/path-to-your-source-file" target="_blank"> -->
            <img src="assets/github.png" alt="github-logo" width="30" height="30">
        </a>

        </div>




      <div class="box">Sustainability

        <a href="#sustainability" class="read-more" (click)="scrollToObservability()">Read More</a>
        <a href="#" class="github-logo">
        <!-- href="https://github.com/your-username/your-repository/blob/master/path-to-your-source-file" target="_blank"> -->
          <img src="assets/github.png" alt="github-logo" width="30" height="30">
      </a>

      </div>
    </div>
  </div>




<br><br><br><br><br><br><br><br>


  <section id="observability" class="landing-section">
    <h1><b>Observability</b></h1>
  </section>




  <br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br>


  <section id="sustainability" class="landing-section">
    <h1><b>Sustainability</b></h1>
  </section>


   </div>
  </section>
 