.landing-section {
    text-align: center;
    padding: 10px 0; 
    font-size: 26px;
  }

  h1 {
    margin-top: 100px;
  }

  .box-container {
    display: flex;
    justify-content: space-around;
  }

  .box {
    position: relative; 
    background-color: #010507;
    color: #fff; 
    padding: 20px;
    border: 1px solid #02070a; 
    border-radius: 7px;
    width: 30%; 
    margin: 10px 0;
    height: 400px;
  }

  .read-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding-right: 100px;
    font-size: 20px;
}

.read-more:hover {
    background-color: #989da1;
}