
  






   <div>
    <title>ZAGA OPEN SOURCE - Videos</title>
    <!-- Add your styles and scripts for the videos page here -->
    <style>
        .video-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

        .video-card {
            width: 300px;
            background-color: #ddd;
            padding: 10px;
            margin-bottom: 20px;
        }
    </style>

<body>
    <!-- Add your video rectangles or any other content here -->
    <div style="padding: 20px;">
        <h2>Videos</h2>
        <h3  style="font-family: Arial, Helvetica, sans-serif;" > Observability </h3>
        <div class="video-container">
          
            <div class="video-card" style="height: 350px; width: 290px;">
                <iframe height="350" width="290" src="https://www.youtube.com/embed/il_t1WVLNxk"></iframe>
            </div>
            
            <!-- Video 2 -->
            <div class="video-card">
                <!-- <h3>Video Title 2</h3> -->
                <iframe width="100%" height="150" src="https://www.youtube.com/watch?v=zcAalMeaKso" frameborder="0" allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <h4  style="font-family: Arial, Helvetica, sans-serif;" >Sustainability</h4>
            <div class="video-container">
                <!-- Video 1 -->
                <div class="video-card">
                    <h3>Video Title 3</h3>
                    <iframe width="100%" height="150" src="https://www.youtube.com/embed/your_video_id_3" frameborder="0" allowfullscreen></iframe>
                </div>
    
                <!-- Video 2 -->
                <div class="video-card">
                    <h3>Video Title 4</h3>
                    <iframe width="100%" height="150" src="https://www.youtube.com/embed/your_video_id_4" frameborder="0" allowfullscreen></iframe>
                </div>  
            </div>


            </body>

            <!-- Add more video cards as needed -->
 


