
  






   <div>
    <title>ZAGA OPEN SOURCE - Videos</title>
    <!-- Add your styles and scripts for the videos page here -->
    

<body>
    <!-- Add your video rectangles or any other content here -->
    <div style="padding: 20px;">
        <br><br><br><br><br>
        <h2 style="font-family: 'Times New Roman', Times, serif; font-size: 30px; text-align: center;">Videos</h2>
        <h3 style="font-family:'Times New Roman', Times, serif; font-size: 25px; text-align: center; " >Observability</h3>
        <div class="video-container"  style="padding: 20px; display: flex; gap: 100px;">
            <iframe height="250" width="350" src="https://www.youtube.com/embed/i63DjsjdR3s?si=PxRAxqK04cryvK3e" allowfullscreen></iframe>
            <iframe height="250" width="350" src="https://www.youtube.com/embed/sU4z4Ti-8OQ?si=oYuoV3kJ1iSAbsms" allowfullscreen></iframe>
        </div>
    </div>
    
    

        
   

    <h4  style="font-family: 'Times New Roman', Times, serif; font-size: 25px; text-align: center;" >Sustainability</h4>
          <div class="video-container"    style="padding: 20px; display: flex; gap: 100px;" >
         <iframe height="250" width="350" src="https://www.youtube.com/embed/3qBXWUpoPHo?si=PWGOPw1iDtXBRuc0" ></iframe>
         <iframe height="250" width="350"src="https://www.youtube.com/embed/-9VcW7MBDs8?si=eDP3_zSKxHAVGUFr" ></iframe>
              
          
            </div>

            </body>

            <!-- Add more video cards as needed -->
 


